<% include partials/head %>

<body id="splashBody">

<% include partials/navbar-preauth %>

    <header id="splash-header">
        <div class="splash-header-content">
            <div class="splash-header-content-inner">
                <h1 id="homeHeading">A simple Tool for an increasingly complex world.</h1>
                <hr>
                <p class="text-faded">The bandwidth of any team to handle increased operational complexity is finite. For every new, advanced solution that is added, this operational bandwidth shrinks.
                  BUT, if we can implement methods to make these solutions easier to consume, we can free up some of that bandwidth to allow us to do more. That's where Eucalyptus comes in.</p>
                <a href="#about" class="btn btn-splash btn-splash-primary btn-splash-xl page-scroll">Learn More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Solving Complexity with Simplicity</h2>
                    <hr class="light">
                    <p class="text-faded">Eucalyptus leverages <b>Flight Plans</b> to provide teams with easy, step-by-step guidance to manage systems. Every time a <b>Pilot</b> takes off, they can leverage <b>Flight Plans</b> to guide, track, and document their <b>Flights</b>.<br><br>
                      <b>Flights</b> utilizing <b>FlightPlans</b> can be saved, loaded, and stored to allow picking up where you left off, or simply checking back later to confirm what how the <b>flight</b> was navigated. When completing a <b>flight</b>, notes are saved per each step and sub-step to allow tracking progress.</p>
                    <a href="#features" class="page-scroll btn btn-splash-default btn-splash-xl sr-button">Explore Features!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-commenting-o text-primary sr-icons"></i>
                        <h3>Flight Notes</h3>
                        <p class="text-muted">Save progress and notes with each flight to allow: starting and stopping processes seamless, working collaboratively, and auditing of tasks.</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Flight Plan Builder</h3>
                        <p class="text-muted">An easy to use Flight Plan Builder is integrated into Eucalyptus to make the process easy.</p>
                    </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-rocket text-primary sr-icons"></i>
                        <h3>Launchers</h3>
                        <p class="text-muted">Built-in to steps are Launchers that open the location to perform the actions. These launchers make it easier to complete steps.</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cogs text-primary sr-icons"></i>
                        <h3>Automation Integration</h3>
                        <p class="text-muted">Understanding processes is the first step to automation, and this is accomplished with Eucalyptus. We can then integrate each step with your automation solution of choice.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-inbox text-primary sr-icons"></i>
                      <h3>Ticketing Integration</h3>
                      <p class="text-muted">Easily export completed flights to save in an external ticketing system or other tracking platform.</p>
                  </div>
              </div>
              <div class="col-sm-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                      <h3>Designed to be Simple</h3>
                      <p class="text-muted">From help walkthrough guides to a user interfaced design to be clean and intuitive, Eucalyptus is meant to be easy to use for anyone.</p>
                  </div>
              </div>
          </div>
        </div>
    </section>

    <section class="no-padding" id="usecases">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">

                <div class="col-sm-6">
                    <a href="#usecases" class="portfolio-box">
                      <img src="/img/boxes/analytics-par.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#usecases" class="portfolio-box">
                      <img src="/img/boxes/automation-par.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
                <div class="row no-gutter popup-gallery">
                <div class="col-sm-6">
                    <a href="#usecases" class="portfolio-box">
                        <img src="/img/boxes/devops-par.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#usecases" class="portfolio-box">
                        <img src="/img/boxes/collaboration-par.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Want to learn more?</h2>
                <a href="#contact" class="btn btn-splash-default btn-splash-xl sr-button">Contact Us!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:contact@eucalyptus.io">contact@eucalyptus.io</a></p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
