<% include partials/head %>

<script src="/js-prv/ApiHelper.js"></script>
<script src="/js-prv/admin.js"></script>

<header id="introHeader" class="container-fluid">
   <h1 id="intro" class="loginColor"><i class="fa fa-leaf leafLogo"></i> Eucalyptus</h1>
   <p class="lead loginColor">Administrative Portal</p>
 </header>
<body id="indexBody">
<% include partials/navbar %>

<div class="container-fluid">


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">User Account Administration</div>
      <div class="panel-body">

        <div class="alert alert-gray">
          Add users, delete users, and patch user settings. Users are disabled by default, so they must be enabled here to allow them to actually log in after signing up.
        </div>

          <div class="row">
            <div class="col-sm-12">
              <table id="userDetailsTable" class="table table-bordered">
                <thead>
                  <th>ID</th><th>Name</th><th>Email</th><th>Enabled</th><th>WT</th><th>Action</th>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-inverse">
        <div class="panel-heading">Add User</div>
        <div class="panel-body">
          <form action="/users/" enctype="application/x-www-form-urlencoded" method="post" >
            <div class="form-group">
              <label for="title">Email Address</label>
              <input type="text" class="form-control" name="email"></input>
            </div>
            <div class="form-group">
              <label for="author">Password</label>
              <input type="password" class="form-control" name="password"></input>
            </div>
            <input type="submit" class="btn btn-default btn-block" value="Add User"></button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-inverse">
        <div class="panel-heading">Delete User</div>
        <div class="panel-body">
          <form id="deleteForm">
            <div class="form-group">
              <label for="flightplan">User ID</label>
              <input type="text" class="form-control" name="delUser"></input>
            </div>

          </form>
          <button id="deleteButton" class="btn btn-default btn-block">Delete</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-inverse">
        <div class="panel-heading">Modify User</div>
        <div class="panel-body">
          <form action="/users/" enctype="application/x-www-form-urlencoded" method="patch" >
            <div class="form-group">
              <label for="patchId">ID</label>&nbsp;<span class="label label-danger" id="warningPatch"></span>
              <input type="text" class="form-control" name="patchId"></input>
            </div>
            <div class="form-group">
              <label for="patchName">Name</label>
              <input type="text" class="form-control" name="patchName"></input>
            </div>
            <div class="form-group">
              <label for="patchEmail">Email</label>
              <input type="text" class="form-control" name="patchEmail"></input>
            </div>
            <div class="form-group">
              <label for="patchPassword">Password</label>
              <input type="password" class="form-control" name="patchPassword"></input>
            </div>
            <div class="form-group">
              <label for="patchWalkthrough">walkthroughDashboard</label>
              <input type="text" class="form-control" name="patchWalkthrough"></input>
            </div>
            <div class="form-group">
              <label for="patchEnabled">Enabled</label>
              <input type="text" class="form-control" name="patchEnabled"></input>
            </div>
          </form>

          <button id="patchButton" class="btn btn-default btn-block">Patch User</button>

        </div>
      </div>
    </div>
  </div>

</div>

<footer class="container-fluid">
<div class="alert alert-gray">
  <p id="footer"><i class="fa fa-copyright"></i>&nbsp;2016 <a href="https://github.com/eeg3">https://github.com/eeg3</a>
</div>
</footer>

</body>
</html>
