<% include partials/head %>

<script src="/js/ApiHelper.js"></script>
<script src="/js/apiToolkit.js"></script>

<header class="container-fluid">
<h1 id="intro"><i class="fa fa-leaf leafLogo"></i> Eucalyptus</h1>
<p class="lead">A better way to manage operational tasks.</p>
</header>

<body>
<% include partials/navbar %>

<div class="container-fluid">

<div class="alert alert-gray">
  The following are tools to directly interact with the Eucalyptus API without having to send HTTP queries with POST, GET, PATCH, and DELETE.
</div>

  <div class="row">
    <div class="col-sm-12">
      <table id="flightplanDetailsTable" class="table table-bordered">
        <thead>
          <th>ID</th><th>Title</th><th>Author</th><th>Revision</th><th>Category</th><th>Product</th><th>Description</th><th>Steps</th>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-4">
    <div class="panel panel-inverse">
      <div class="panel-heading">Add FlightPlan</div>
      <div class="panel-body">
        <form action="/api/flightplan/" enctype="application/x-www-form-urlencoded" method="post" >
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title"></input>
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author"></input>
          </div>
          <div class="form-group">
            <label for="revision">Revision</label>
            <input type="text" class="form-control" name="revision"></input>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" name="category"></input>
          </div>
          <div class="form-group">
            <label for="product">Product</label>
            <input type="text" class="form-control" name="product"></input>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description"></input>
          </div>
          <div class="form-group">
            <label for="steps">Steps</label>
            <input type="text" class="form-control" name="steps"></input>
          </div>

          <input type="submit" class="btn btn-default btn-block" value="Add FlightPlan"></button>
        </form>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
      <div class="panel panel-inverse">
        <div class="panel-heading">Delete FlightPlan</div>
        <div class="panel-body">
          <form id="deleteForm">
            <div class="form-group">
              <label for="flightplan">FlightPlan ID</label>
              <input type="text" class="form-control" name="delFlightplan"></input>
            </div>

          </form>
          <button id="deleteButton" class="btn btn-default btn-block">Delete</button>
        </div>
      </div>

      <div class="panel panel-inverse">
        <div class="panel-heading">Delete Inflight</div>
        <div class="panel-body">
          <form id="deleteForm">
            <div class="form-group">
              <label for="flightplan">Inflight ID</label>
              <input type="text" class="form-control" name="delInflight"></input>
            </div>

          </form>
          <button id="deleteInflightButton" class="btn btn-default btn-block">Delete</button>
        </div>
      </div>

    </div>

  <div class="col-sm-4">
    <div class="panel panel-inverse">
      <div class="panel-heading">Patch Flightplan</div>
      <div class="panel-body">
        <form action="/api/flightplan/" enctype="application/x-www-form-urlencoded" method="post" >
          <div class="form-group">
            <label for="patchId">ID</label>&nbsp;<span class="label label-danger" id="warningPatch"></span>
            <input type="text" class="form-control" name="patchId"></input>
          </div>
          <div class="form-group">
            <label for="patchTitle">Title</label>
            <input type="text" class="form-control" name="patchTitle"></input>
          </div>
          <div class="form-group">
            <label for="patchAuthor">Author</label>
            <input type="text" class="form-control" name="patchAuthor"></input>
          </div>
          <div class="form-group">
            <label for="patchRevision">Revision</label>
            <input type="text" class="form-control" name="patchRevision"></input>
          </div>
          <div class="form-group">
            <label for="patchCategory">Category</label>
            <input type="text" class="form-control" name="patchCategory"></input>
          </div>
          <div class="form-group">
            <label for="patchProduct">Product</label>
            <input type="text" class="form-control" name="patchProduct"></input>
          </div>
          <div class="form-group">
            <label for="patchDescription">Description</label>
            <input type="text" class="form-control" name="patchDescription"></input>
          </div>
          <div class="form-group">
            <label for="patchSteps">Steps</label>
            <input type="text" class="form-control" name="patchSteps"></input>
          </div>
        </form>

        <button id="patchButton" class="btn btn-default btn-block">Patch FlightPlan</button>

      </div>
    </div>
  </div>

</div>

</div>

<footer class="container-fluid">
<div class="alert alert-gray">
  <p id="footer"><i class="fa fa-copyright"></i>&nbsp;2016 <a href="https://github.com/eeg3">https://github.com/eeg3</a>
</div>
</footer>

</body>
</html>
