<% include partials/head %>

<script src="/js-prv/ApiHelper.js"></script>
<script src="/js-prv/flightplan.js"></script>

<!-- Intro.JS -->
<link href="/css/introjs.css" rel="stylesheet">
  <script src="/js-pub/introjs/intro.js"></script>
<!-- Custom Intro.JS CSS Tweaks -->
<link href="/css/introjs_eucalyptus.css" rel="stylesheet">

<!-- Bootstrap-switch -->
<link href="/css/bootstrap-switch.css" rel="stylesheet">
<script src="/js-pub/bootstrap-switch/bootstrap-switch.js"></script>

<header id="introHeader" class="container-fluid">
  <h1 id="flightplanTitle" class="loginColor">Eucalyptus Dashboard</h1>
  <h6>Developed by: <span id="flightplanAuthor"></span></h6>
  <hr>
</header>

<body id="flightBody">
<% include partials/navbar %>

<div class="container-fluid">

<div id="summaryPanel" class="row">
  <div class="col-sm-12">
    <div class="panel panel-inverse">
      <div id="intro-panel-header" class="panel-heading">
        <div class="row">
          <div id="activeFlightCol" class="col-sm-12">Active Flight: <span id="currentInflight" class="leafLogo">Not Saved</span></div>
        </div>
      </div>
      <div class="panel-body">
        <div id="manJumbo" class="jumbotron">
          <div class="alert alert-gray">
            <h5><span id="flightplanDescription"></span></h5>
        </div>

          <div class="progress">
            <div id="completionStatus" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
            </div>
          </div>

          <ol class="rectangle-list" id="tocList">
          </ol>

          <div id="loadDiv" class="btn-group">
            <button type="button" title="Load Progress" class="btn btn-success btn-md headerButton loadFP"><i class="fa fa-folder-open-o fa-2x"></i><span class="headerButtonText"><br>Load Progress</span></button>
          </div>
          <div id="saveDiv" class="btn-group">
            <button title="Save Progress" type="button" class="btn btn-success btn-md headerButton saveFP"><i class="fa fa-save fa-2x"></i><span class="headerButtonText"><br>Save Progress</span></button>
          </div>
          <div id="completedDiv" class="btn-group">
            <button title="View Completed FlightPlans" type="button" class="btn btn-success btn-md headerButton showCompleted"><i class="fa fa-file-text-o fa-2x"></i><span class="headerButtonText"><br>View Completed</span></button>
          </div>
          <div id="toggleBoxes">
            <span class="toggleLabels">Sequential Processing</span><br />
            <input id="toggleSequential" type="checkbox" name="bswitch" checked>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="stepsSection">

</div>

<div>
  <button id="completeSubmit" type="button" class="btn btn-success">Complete FlightPlan</button>
  <br /><br />
</div>

</div> <!-- End Container -->

<div id="loadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel">Load Inflight FlightPlan</h4>
    </div>
    <div class="modal-body">
      <div class="panel">
        <div class="panel-body sp-databox-panel-body">

          <div class="row">
            <div class="col-sm-12">
              <table id="inflightListTable" class="table table-bordered">
                <thead>
                  <th>Title</th><th>User</th><th>Action</th>
                </thead>
                <tbody><tr></tr></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="viewCompletedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel">View Completed FlightPlan</h4>
    </div>
    <div class="modal-body">
      <div class="panel">
        <div class="panel-body sp-databox-panel-body">

          <div class="row">
            <div class="col-sm-12">
              <table id="completedListTable" class="table table-bordered">
                <thead>
                  <th>Title</th><th>User</th><th>Action</th>
                </thead>
                <tbody><tr></tr></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="saveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="saveModal-title">Save / Complete Flight</h4>
    </div>
    <div class="modal-body">
      <div class="panel">
        <div class="panel-body sp-databox-panel-body">

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="saveTitle">Flight Name: </label>
                <input type="text" class="form-control" name="saveTitle"></input>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="saveSubmit" type="button" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="resolutionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="resolutionModal-title">Warning</h4>
    </div>
    <div class="modal-body">
      <span>The resolution of your browser has resulted in removing "Notes" functionality for each sub-step.<br><br> To enable the ability to take notes, please increase browser window size and reload the page. If using a mobile device, please switch to landscape mode and reload the page.</span>
    </div>
    <div class="modal-footer">
      <button id="reload" type="button" class="btn btn-danger">Reload</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="unclearModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="unclearnModal-title">Report Step</h4>
    </div>
    <div class="modal-body">
      <span>Is something within this step unclear, ambiguous, or missing? Please provide some detail so it can be fixed.</span><br />
      <br />
      <b>Step Title:</b> <span id="unclearStepTitle"></span><br />
      <b>Step Number:</b> <span id="unclearStepNumber"></span>
      <br /><br />
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="saveTitle">Report Description</label>
            <input type="text" class="form-control" name="unclearDescription"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="reportUnclear" type="button" class="btn btn-danger">Report</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<footer class="container-fluid">
  <div class="alert alert-gray">
    <p id="footer"><i class="fa fa-copyright"></i>&nbsp;2016 <a href="https://github.com/eeg3">https://github.com/eeg3</a></p>
  </div>
</footer>

</body>
</html>
