<% include partials/head %>

<!-- Custom JS -->
<script src="/js/ApiHelper.js"></script>
<script src="/js/fpbuilder.js"></script>

<!-- Intro.JS -->
<link href="/css/introjs.css" rel="stylesheet">
  <script src="/js/intro.js"></script>
<!-- Custom Intro.JS CSS Tweaks -->
<link href="/css/introjs_eucalyptus.css" rel="stylesheet">

<header class="container-fluid">
  <h1 id="intro" class="loginColor"><i class="fa fa-leaf leafLogo"></i> Eucalyptus</h1>
  <p class="lead loginColor">Conquering complexity with simplicity.</p>
</header>

<body id="buildBody">
  <% include partials/navbar %>

  <!-- Create New Section -->
  <div id="createNewDiv" class="container-fluid">

    <div id="summaryRow" class="row">
      <div class="col-sm-12">
        <div class="panel panel-inverse">
          <div id="intro-panel-header" class="panel-heading">FlightPlan Builder - <span id="loadedText" class="leafLogo">New FlightPlan</span></div>
          <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control input-sm" id="title" placeholder="Install View Composer"></input>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control input-sm" id="description" placeholder="Deploy the Composer Service responsible for desktop deployment."></input>
                  </div>
                  <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control input-sm" id="category" placeholder="Installation"></input>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control input-sm" id="author" placeholder="Earl Gay"></input>
                  </div>
                  <div class="form-group">
                    <label for="product">Product</label>
                    <input type="text" class="form-control input-sm" id="product" placeholder="View7"></input>
                  </div>
                  <div class="form-group">
                    <label for="revision">Revision</label>
                    <input type="text" class="form-control input-sm" id="revision" placeholder="1.0"></input>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div id="stepsSection">

    </div>

    <div id="submitFlightplan" class="btn-group">
      <button id="createFlightplan" type="button" class="btn btn-success">Create FlightPlan</button>
    </div>
    <div id="errorMessage"></div>

  </div> <!-- End Container -->

  <div id="loadSuccessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title success" id="gridSystemModalLabel">FlightPlan Imported Successfully!</h4>
        </div>
        <div class="modal-body">
          <div class="panel">
            <div class="panel-body sp-databox-panel-body">
              <div class="row">
                <div class="col-sm-6 sp-databox-left">
                  <div class="sp-databox">
                    <button id="viewLoad" class="invisBtn">
                      <div class="sp-databox-item">
                        <p class="sp-databox-item-header">View</p>
                        <p class="sp-databox-item-descr">Open a Flight with Uploaded FlightPlan</p>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="col-sm-6 sp-databox-right">
                  <div class="sp-databox">
                    <button id="editLoad" class="invisBtn">
                      <div class="sp-databox-item">
                        <p class="sp-databox-item-header">Edit</p>
                        <p class="sp-databox-item-descr">Modify Uploaded FlightPlan with Builder</p>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <h4 class="modal-title" id="gridSystemModalLabel">New FlightPlan</h4>
        </div>
        <div class="modal-body">
          <div class="panel">
            <div class="panel-body sp-databox-panel-body">
              <div class="row">
                <div class="col-sm-6 sp-databox-left">
                  <div class="sp-databox">
                    <button id="createNewFP" class="invisBtn">
                      <div class="sp-databox-item">
                        <p class="sp-databox-item-header">Create New</p>
                        <p class="sp-databox-item-descr">Utilize the FlightPlan Builder</p>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="col-sm-6 sp-databox-right">
                  <div class="sp-databox">
                    <button id="loadExistingFP" class="invisBtn">
                      <div class="sp-databox-item">
                        <p class="sp-databox-item-header">Modify Existing</p>
                        <p class="sp-databox-item-descr">Edit an Existing FlightPlan</p>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 sp-databox-right">
                  <div class="sp-databox">
                    <label class="fakeBtn">
                      <div class="sp-databox-item">
                        <p class="sp-databox-item-header">Import Existing</p>
                        <p class="sp-databox-item-descr">Load a FlightPlan from File</p>
                      </div>
                      <input type="file" id="flpUpload" style="display: none;">
                    </label>
                  </div>
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="loadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Load FlightPlan</h4>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body sp-databox-panel-body">

            <div class="row">
              <div class="col-sm-12">
                <table id="flightplanListTable" class="table table-bordered">
                  <thead>
                    <th>Title</th><th>User</th><th>Action</th>
                  </thead>
                  <tbody><tr></tr></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <footer class="container-fluid">
    <div class="alert alert-gray">
      <p id="footer"><i class="fa fa-copyright"></i>&nbsp;2016 <a href="https://github.com/eeg3">https://github.com/eeg3</a>
    </div>
  </footer>

</body>
</html>
