<html>
<head>
  <script src="https://cdn.auth0.com/js/lock/10.3/lock.min.js"></script>
</head>
<body>
  <div id="root">
  </div>
</body>
</html>

<script>
var lock = new Auth0Lock('8NvOzTjcL8pxFNn1KCZIr13Zm9nQV9rP', 'eeg3.auth0.com', { auth: {
          redirectUrl: 'http://localhost:8001/callback'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }});
    lock.show();
</script>
