<html>
  <head>
    <script src="https://cdn.auth0.com/js/lock/10.3/lock.min.js"></script>
  </head>

  <body>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="text-center">
        <h1><%= user.nickname %></h1>
        <pre><%= userProfile %></pre>
        <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
      </div>
    </div>
  </body>

</html>
