<% include partials/head %>

<!-- Custom JS -->
<script src="/js-prv/ApiHelper.js"></script>
<script src="/js-prv/profile.js"></script>

<!-- Intro.JS -->
<link href="/css/introjs.css" rel="stylesheet">
  <script src="/js-pub/introjs/intro.js"></script>
<!-- Custom Intro.JS CSS Tweaks -->
<link href="/css/introjs_eucalyptus.css" rel="stylesheet">

<<header id="introHeader" class="container-fluid">
   <h1 id="intro" class="loginColor"><i class="fa fa-leaf leafLogo"></i> Eucalyptus</h1>
   <p class="lead loginColor">User Profile</p>
 </header>

  <body id="loginBody">

    <% include partials/navbar %>

    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <div class="jumbotron">
          <h2><i class=" fa fa-user"></i> User Info</h2><br>
          <!-- <span><strong>user id</strong>: <%= user._id ? user._id : '' %></span><br> -->
          <span><strong>Name:</strong>: <%= user.local.name  %></span><br>
          <% if (user.local.email != null) { %>
            <strong>Email</strong>: <%= user.local.email %><br><br>
          <% } %>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <div class="panel panel-inverse">
                <div class="panel-heading">Change Password</div>
                <div class="panel-body">
                  <div class="form-group">
                    <input type="password" class="form-control" name="patchPassword" placeholder="Password"></input>
                    <input type="password" class="form-control" name="patchPassword2" placeholder="Confirm Password"></input>
                  </div>
                  <button id="changePassword" class="btn btn-default btn-block">Submit</button>
                  <span id="passError"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <hr>
          <i class="fa fa-sign-out"></i><a href="/logout"> Sign out</a>
        </div>
      </div>
    </div>
  </body>
</html>
