body {
  margin-top: 75px;
  margin-left: 7%;
  margin-right: 7%;
  padding: 7px 7px 7px 7px;
  font-family: 'ProximaNovaSoft',Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  text-align: center;
}

.panel-inverse {
  border-color: #2D2D2D;
}
.panel-inverse>.panel-heading {
  color: #999;
  background-color: #2D2D2D;
  border-color: #2D2D2D;
  font-weight: 500;
}
.panel-inverse>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #2D2D2D;
}
.panel-inverse>.panel-heading .badge {
  color: #2D2D2D;
  background-color: #fff
}
.panel-inverse>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #2D2D2D;
}

.sp-databox-panel-heading {
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(134, 139, 133, 0.31);
  color: rgba(113, 114, 116, 0.79);
  letter-spacing: 1px;
  font-weight: 500;
}
.sp-databox-panel-body {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(134, 139, 133, 0.31);
  border-top: none;
  padding: 0 0;
}
.sp-databox {
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(134, 139, 133, 0.31);
}
.sp-databox-item {
  padding: 20px;
}
@media (min-width:768px) {
  .sp-databox-left {
    padding-right: 0px;
  }
  .sp-databox-right {
    padding-left: 0px;
  }
}
.sp-databox-item-header {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
.sp-databox-item-descr {
  font-size: .8em;
  color: rgba(113, 114, 116, 0.79);
  margin: 0;
}
.sp-databox-item-body {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.sp-databox-table-sm {
  font-size:  .8em;
}
.sp-databox-table-lg {
  font-size:  1.2em;
}

.inverse-dropdown {
  background-color: #2D2D2D;
  border-color: #080808;
}
.inverse-dropdown > li > a {
  color: #999;
}
.inverse-dropdown > li {
  color: #fff;
  background-color: #2D2D2D;
}
.inverse-dropdown > a:hover {
  color: #000;
}
.inverse-dropdown > .divider {
  background-color: #2D2D2D;
}

.success {
  color: green;
}
.danger {
  color: red;
}

.alert-gray {
  color: black;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}

.toolbar-buttons {
  text-align: left;
}
.toolbar-guide {
  text-align: right;
}

.health-table {
  margin-bottom: 0px;
}

#dataTable {
  padding-bottom: 10px;
}

#systemStatusColor {
  box-shadow: 4px 4px 12px #777;
}
#desktopsTable {
  font-size: 1.7em;
  margin-bottom: 7px;
}
#desktopsTable td:hover {
  box-shadow: 4px 4px 10px #777;
}
.st-substep-col {
  font-size: 1.3em;
  font-weight: bold;
}
.st-details-col, .st-action-col {
}

#manJumbo {
  padding-top: 10px;
  padding-bottom: 30px;
}

.leafLogo {
  color: #50af60;
}
.minus {
  color: red;
}

#submitFlightplan {

}

.borderTD {
  width:  100px;
}

#errorMessage {
  color: red;
  padding-bottom: 50px;
}

#loginError {
  color: white;
}

.panel-leaf {
  border-color: #2D2D2D;
}
.panel-leaf>.panel-heading {
  color: #2D2D2D;
  background-color: #50af60;
  border-color: #50af60;
}
.panel-leaf>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #50af60;
}
.panel-leaf>.panel-heading .badge {
  color: #50af60;
  background-color: #fff
}
.panel-inverse>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #50af60;
}
.navbar-header {
  padding-left:15px;
}
.navbar-right {
  padding-right:15px;
}


.navbar-leaf {
  background-color: #222;
  border-color: #080808
}
.navbar-leaf .navbar-brand {
  color: white
}
.navbar-leaf .navbar-brand:focus, .navbar-leaf .navbar-brand:hover {
  color: #fff;
  background-color: transparent
}
.navbar-leaf .navbar-text {
  color: white
}
.navbar-leaf .navbar-nav>li>a {
  color: white
}
.navbar-leaf .navbar-nav>li>a:focus, .navbar-leaf .navbar-nav>li>a:hover {
  color: #fff;
  background-color: transparent
}
.navbar-leaf .navbar-nav>.active>a, .navbar-leaf .navbar-nav>.active>a:focus, .navbar-leaf .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #080808
}
.navbar-leaf .navbar-nav>.disabled>a, .navbar-leaf .navbar-nav>.disabled>a:focus, .navbar-leaf .navbar-nav>.disabled>a:hover {
  color: #444;
  background-color: transparent
}
.navbar-leaf .navbar-toggle {
  border-color: #333
}
.navbar-leaf .navbar-toggle:focus, .navbar-leaf .navbar-toggle:hover {
  background-color: #333
}
.navbar-leaf .navbar-toggle .icon-bar {
  background-color: #fff
}
.navbar-leaf .navbar-collapse, .navbar-leaf .navbar-form {
  border-color: #101010
}
.navbar-leaf .navbar-nav>.open>a, .navbar-leaf .navbar-nav>.open>a:focus, .navbar-leaf .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #080808
}
@media (max-width:767px) {
  .navbar-leaf .navbar-nav .open .dropdown-menu>.dropdown-header {
    border-color: #080808
  }
  .navbar-leaf .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808
  }
  .navbar-leaf .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d
  }
  .navbar-leaf .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-leaf .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent
  }
  .navbar-leaf .navbar-nav .open .dropdown-menu>.active>a, .navbar-leaf .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-leaf .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: #fff;
    background-color: #080808
  }
  .navbar-leaf .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-leaf .navbar-nav .open .dropdown-menu>.disabled>a:focus, .navbar-leaf .navbar-nav .open .dropdown-menu>.disabled>a:hover {
    color: #444;
    background-color: transparent
  }
}
.navbar-leaf .navbar-link {
  color: #9d9d9d
}
.navbar-leaf .navbar-link:hover {
  color: #fff
}
.navbar-leaf .btn-link {
  color: #9d9d9d
}
.navbar-leaf .btn-link:focus, .navbar-leaf .btn-link:hover {
  color: #fff
}
.navbar-leaf .btn-link[disabled]:focus, .navbar-leaf .btn-link[disabled]:hover, fieldset[disabled] .navbar-leaf .btn-link:focus, fieldset[disabled] .navbar-leaf .btn-link:hover {
  color: #444
}

.panel-inverse {
  border-color: #2D2D2D;
}
.panel-inverse>.panel-heading {
  color: white;
  background-color: #2D2D2D;
  border-color: #2D2D2D;
}
.panel-inverse>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #2D2D2D;
}
.panel-inverse>.panel-heading .badge {
  color: #2D2D2D;
  background-color: #fff
}
.panel-inverse>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #2D2D2D;
}

.launchButton {
  float: right;
  margin-left: 7px;
}

.panel-viewer {
  width: 1050;
  height: 1000;
}

.tablecontainer { width: 1600px; overflow; hidden;}

.notesTextArea {
  width: 200px;
  height: 55px;
}

canvas {
  border: 0px none black;
}

#toggleSequential, .loadBtn, .deleteBtn {
  margin-left: 7px;
}

.float-left {
  float: left;
}

.popout-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.popout-brand {float:none;}

th {
  text-align: center;
  font-weight: bold:
}

.invisBtn {
    background: transparent;
    border: none !important;
}

.modal-backdrop
{
    opacity:0.8 !important;
}

#currentInflight {
  font-style: italic;
}

.badge-success {
  background-color: #50af60;
}

#loginBody {
background: url(/img/converged-par.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#indexBody {
/* background: url(/img/background-min.png) no-repeat center center fixed; */
background: url(/img/converged-par.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#buildBody {
/* background: url(/img/background-min.png) no-repeat center center fixed; */
background: url(/img/converged-par.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#flightBody {
/* background: url(/img/background-min.png) no-repeat center center fixed; */
background: url(/img/converged-par.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.loginColor {
  color: white;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

#intro {
  margin-top: 10px;
}
